* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

/*--- LAYOUT ---*/
.wrapper {
    min-height: 100vh;
    /*max-width: 100vw;*/

    display: grid;
    grid-template-areas:
           "header"
           "content"
           "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /*65px*/
    grid-gap: 20px;
}



/*--- HEADER ---*/
header {
    grid-area: header;

    width: 100vw;
    min-height: 55px;
    height: auto;
    background-color: #333333;
    color: white;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

    align-items: center;
}

.header-logo {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.nav-links li {
    display: inline;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

a:hover {
    color: whitesmoke;
}



/*--- CONTENT ---*/
.content-container {
    grid-area: content;
    overflow-y: hidden; //scroll;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}



/*ARRANGE ELEMENTS*/
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-col section {
    width: calc(50% - 10px);
}



/*SECTION CONTAINER*/
.section {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 15px;
}

.section-title {
    background-color: #333333;
    color: white; /*#333333;#464646;*/
    font-size: 2rem;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}

.section-content {
    width: 100%;
    padding: 15px;
    background-color: #f1f1f1;
}

.section-content p, li {
    text-transform: initial;
    font-size: 1.15rem;
    padding: 5px 0;
    text-decoration: none;
}

section div {
    width: 100%;
}

.hidden {
    display: none;
}


/*PROFILE*/
.profile-img {
    height: 20rem;
    border-radius: 10px;
    margin-right: 15px;
}

.section-interaction {
    display: flex;
    justify-content: space-around;
}

.section-interaction button {
    background-color: #f1f1f1; /*#f1f1f1; #f44336; #4CAF50;*/
    color: #333333;
    width: 125px;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.section-interaction button:hover {
    background-color: lightgrey;
}



/*--- FOOTER ---*/
footer {
    grid-area: footer;
    width: 100vw;
    height: 50px;
    background-color: #333333;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-credit {
    font-size: 1.5rem;
}



@media screen and (min-width: 600px) {
    .content-container {
        min-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .content-container {
        width: 100%;
    }
}