#bubble-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 0;
}

#bubble-background span {
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(45deg, var(--text-title), var(--text-interactive));
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68% ;
    animation: morph-bubble 7s linear infinite;
}

#bubble-background > span:nth-child(1) {
    top: 10vh;
    right: 10vw;
    width: 75px;
    height: 75px;
}
#bubble-background > span:nth-child(2) {
    top: 3vh;
    left: 10vw;
    width: 50px;
    height: 50px;
    border-radius: 38% 62% 33% 67% / 60% 53% 47% 40%;
    transform: rotate(90deg);
}
#bubble-background > span:nth-child(3) {
    right: 15vw;
    bottom: 5vh;
    width: 20px;
    height: 20px;
    border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
#bubble-background > span:nth-child(4) {
    bottom: 25vh;
    left: 5vw;
    width: 80px;
    height: 80px;
    border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
#bubble-background > span:nth-child(5) {
    right: 7vw;
    bottom: 10vh;
    width: 25px;
    height: 25px;
    border-radius: 38% 62% 55% 45% / 52% 53% 47% 48%;
}
#bubble-background > span:nth-child(6) {
    top: 5vh;
    right: 20vw;
    width: 25px;
    height: 25px;
}
  
@keyframes morph-bubble {
    20% {
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }
    40% {
        border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }
    60% {
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }
    80% {
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
}