html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  background-color:var(--background);
}

#layout-wrapper {
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  background-color: var(--background);
  color: var(--text-primary);
  /* overflow-x: hidden; */
}

#header-wrapper {
  grid-area: header;
  /* width: 100vw; */
  /* height: 100vh; */
  /* margin-top: 2rem; */
  z-index: 9999;
}

#footer-wrapper {
  grid-area: footer;
  /* margin-bottom: 2rem; */
}

#content-wrapper {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* max-height: 100vh;
  max-width: 100vw; */
  grid-area: content;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-wrapper {
  background: transparent;
  z-index: 1;
}

#content-wrapper section > div:not(.section-title) {
  z-index: 1000;
  background-color: var(--primary-background); /* --elem-glass */
  border: 12px solid rgba(var(--text-title), 0.5);
  mix-blend-mode: luminosity;
}

section {
  /* position: relative; */
  margin: 0.5rem 0;
  width: 100%;
  max-width:100vw;
  height: auto;
  /* min-height:100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}